<h1>Homepage</h1>
<div class="login"></div>
        {{#if user}}
            <p>Welcome, {{user.username}}!</p>
            <br>
            <a href="/user/logout">Logout</a>
        {{else}}
            <a href="/user/login">Login</a>
            <br>
            <a href="/user/register">Register</a>
        {{/if}}
    </div>
</div class ="article-list">
    {{#articles}}
        <article>
            <a href="/article/{{slug}}">
                <img src="/images/{{image}}" alt="">
            </a>
            <h2><a href="/article/{{slug}}">{{name}}</a></h2>
        </article> 
    {{/articles}} 
</div>